/* 

- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Main Color => #40adff
Shades => #3a9ce6
Tints =>
Grays => #333, #555, #666

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* (10px / 16px) * 100 = 62.5% (Scaling font-size based on client's browser) */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/*************************/
/* HEADER */
/*************************/
.header-container {
  background-color: #fffbf5;
}

.main-header {
  padding-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  text-decoration: none;
}

.logo {
  color: #2d79b3;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

/*************************/
/* NAVIGATION */
/*************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.btn:link,
.btn:visited,
.btn--cta:link,
.btn--cta:visited {
  display: inline-block;
  color: #555;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #333;
}

.btn--cta:link,
.btn--cta:visited {
  background-color: #40adff;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn--cta:hover,
.btn--cta:active {
  background-color: #3a9ce6;
}

/*************************/
/* HERO SECTION */
/*************************/
.section-hero {
  background-color: #fffbf5;
  padding: 3.2rem 0;
}

.hero-container {
  display: grid;
  grid-template-columns: 55% 40%;
  justify-content: space-between;
}

.hero-content-box {
  padding-top: 4.8rem;
}

.hero-heading {
  font-size: 6.2rem;
  margin-bottom: 2.4rem;
}

.hero-description {
  color: #555;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.btn--learn-more:link,
.btn--learn-more:visited {
  color: #2d79b3;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.btn--learn-more:hover,
.btn--learn-more:active {
  color: #266899;
}

.users {
  margin-bottom: 1.6rem;
}

.users img {
  margin-right: -24px;
}

.user-stats {
  color: #555;
  font-size: 2rem;
  line-height: 1.6;
}

.user-stats span {
  color: #2d79b3;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}
